@model IEnumerable<InlandMarinaData.Lease>

@{
    ViewData["Title"] = "My Slips";
}

<h1>My Slips</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SlipID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slip.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slip.Width)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SlipID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slip.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slip.Width)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
}
    </tbody>
</table>
